body{
    background-color: #f2f2f2;
}

section {
    background-color: #ffffff;
    font-family: poppins, serif;
    padding: 3em 2em;
    margin: clamp(25vh,30vh, 100vw) 8em 4em 8em;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1), 0 -4px 12px rgba(0,0,0,0.08);
}

section>p{
    text-align: center;
    font-size: 1.3vw;
}

.frase p, .frase b {
    font-size: 3vw !important;
}

.columna h1 {
    font-size: 2.5em;
    text-align: left;
    color: #222;
    margin-bottom: 0.5em;
    font-size: 1.5vw;
}

.columna p {
    font-weight: 300;
    color: black;
    line-height: 1.6;
    text-align: left;
    font-size: 1.3vw;
}

.columna.texto.vision h1,
.columna.texto.vision p {
    text-align: right;
}

.contenedor-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    margin-top: 2em;
}

.columna {
    flex: 1 1 45%;
    overflow: hidden;
    align-content: center;
}

.columna img {
    width: 100%;
    border-radius: 5%;
    height: auto;
    display: flex;
    margin: 0 auto;
}

@media (max-width: 900px) {
    section {
        margin: 11em 3em 2em 3em;
        padding: 2em 1em;
    }

    section p{
        font-size: 2vw;
    }

    .contenedor-flex {
        flex-wrap: wrap;
        gap: 1em;
    }

    .columna {
        flex: 1 1 45%;
        height: auto;
    }

    .columna img {
        width: 100%;
        height: auto;
        border-radius: 5%;
    }

    .columna h1 {
        font-size: 3vw;
        text-align: left;
    }

    .columna p {
        font-size: 2vw;
        text-align: left;
    }

    .columna.texto.vision h1,
    .columna.texto.vision p {
        text-align: right;
    }

    .frase p, .frase b {
        font-size: 5vw !important;
    }
}



