section{
    margin-bottom: 1em;
}

.Contenedor-Carrusel {
    background-color: #f2f2f2;
    position: relative;
    max-width: max-content;
    max-height: 80vh;
    margin: 8vh auto 10vh auto;
    overflow: hidden;
}

.frase p, .frase b {
    font-size: 2.5vw !important;
}

.carrusel {
    display: flex;
    width: 100%;
    animation: deslizar 40s infinite;
}
@keyframes deslizar {

    0%     { transform: translateX(0%); }
    12.5%  { transform: translateX(0%); }       
    17.5%  { transform: translateX(-100%); }    

    29.5%  { transform: translateX(-100%); }
    34.5%  { transform: translateX(-200%); }    

    46.5%  { transform: translateX(-200%); }    
    51.5%  { transform: translateX(-300%); }    

    63.5%  { transform: translateX(-300%); }    
    68.5%  { transform: translateX(-400%); }    

    80.5%  { transform: translateX(-400%); }    
    85.5%  { transform: translateX(-500%); }    

    97.5%  { transform: translateX(-500%); }   
    100%   { transform: translateX(0%); }      
}

.contenedor {
    min-width: 100%;
    display: flex;
    box-sizing: border-box;
}

.contenedor img {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 900px){
    body {
        margin-top: clamp(20vh,25vh, 100vw);
    }

    .frase p, .frase b {
        font-size: 4vw !important;
    }

    .contenedor-imagen img{
        width: 100%;
    }
}
