*{
    margin: 0;
    padding: 0;
    font-family: "Bodoni MT", sans-serif;
}


.encabezado{
    background-color: #571b02;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    flex-wrap: wrap;
}

.encabezado-izquierda, .encabezado-derecha{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navegacion{
    text-decoration: none;
    font-weight: bold;
}

.navegacion a {
    margin-left: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.boton-pid{
    padding: 8px 16px;
    font-size: 16px;
    line-height: 1;
    border: none;
    border-radius: 6px;
    background-color: #fbbf24;
    color: #571b02;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 130px;
}

.logo{
    max-height: 50px;
    height: auto;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}


.icon-registro{
    margin-left: 20px;
    width: 40px;
    height: 40px;
}


.menu{
    cursor: pointer;
    width:40px;
    height:40px;
}

.frase{
     background-color: #ffbd59;
     font-weight: bold;
     color: #5d1f00;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     height: 40px;
 }

