*{
    margin: 0;
    padding: 0;
}


.encabezado {
    background-color: #571b02;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: relative;
}

.encabezado-izquierda {
    display: flex;
    align-items: center;
    gap: 7%;
    flex: 1;
}

.encabezado-centro {
    display: flex;
    width: 40%;
    justify-content: center;

}

.encabezado-derecha {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    justify-content: flex-end;
}

.navegacion a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: poppins, serif;
    font-style: normal;
    font-size: 1.5vw;
}


.navegacion a:hover {
    text-decoration: underline;
}

.boton-pide {
    padding: 4% 8%;
    line-height: 1;
    border: none;
    border-radius: 6px;
    background-color: #fcb235;
    color: #571b02;
    font-weight: bold;
    cursor: pointer;
    font-family: poppins, sans-serif;
    font-style: normal;
    font-size: 1.3vw;
}

.boton-pide:hover {
    background-color: #571b02;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.frase {
    background-color: #fcb235;
    font-weight: bold;
    color: #5d1f00;
    text-align: center;
    padding: 10px 0;

}

.frase p, .frase b {
    font-family: poppins, serif;
    font-style: normal;
    font-size: 1.4vw;
}

.menu{
    cursor: pointer;
    width:15%;
}

.logo{
    width: 40%;
    cursor: pointer;
}

.icon-registro{
    margin-left: 10%;
    width: 15%;
}

@media (max-width: 900px) {
    .navegacion {
        display: none;
    }
}