*{
    margin: 0;
    padding: 0;
}


.encabezado {
    background-color: #571b02;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: relative;
}

.encabezado-izquierda {
    display: flex;
    align-items: center;
    gap: 7%;
    flex: 1;
}

.encabezado-centro {
    display: flex;
    width: 40%;
    justify-content: center;

}

.encabezado-derecha {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    justify-content: flex-end;
}

.navegacion a{
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: poppins, serif;
    font-style: normal;
    font-size: 1.5vw;
}


.navegacion a:hover {
    text-decoration: underline;
}

.boton-pide {
    padding: 4% 8%;
    line-height: 1;
    border: none;
    border-radius: 6px;
    background-color: #fcb235;
    color: #571b02;
    font-weight: bold;
    cursor: pointer;
    font-family: poppins, sans-serif;
    font-style: normal;
    font-size: 1.3vw;
}

.boton-pide:hover {
    background-color: #571b02;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.frase {
    background-color: #fcb235;
    font-weight: bold;
    color: #571b02;
    text-align: center;
    padding: 10px 0;

}

.frase p, .frase b {
    font-family: poppins, serif;
    font-style: normal;
    font-size: 1.4vw;
}

.menu-icon {
    width: 15%;
}

.menu{
    cursor: pointer;
    width:100%;
}

.logo{
    width: 40%;
    cursor: pointer;
}

.icon-registro{
    margin-left: 10%;
    width: 15%;
}

#toggle-menu{
    display: none;
}

.navegacion-extra {
    display: none;
}

.navegacion-extra2 {
    display: none;
}

#toggle-menu:checked ~ .navegacion-extra {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 20%;
    height: 100vh;
    padding: 10px 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: #571b02;
}

.navegacion-extra a{
    font-family: poppins, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 5%;
    font-size: 1.5vw;
}

.navegacion-extra a:hover{
    text-decoration: underline;
}



@media (max-width: 900px) {
    .navegacion {
        display: none;
    }

    .encabezado {
        padding: 10px 15px;
    }

    .encabezado-izquierda {
        flex: 0 0 auto;
        gap: 10px;
    }

    .encabezado-centro {
        width: auto;
        flex: 1;
        justify-content: center;
    }

    .encabezado-derecha {
        flex: 0 0 auto;
        gap: 10px;
    }

    .menu {
        width: 30px;
    }

    .logo {
        width: 100px;
    }

    .boton-pide {
        padding: 6px 10px;
        font-size: 2vw;
    }

    .icon-registro {
        width: 30px;
        margin-left: 10px;
    }

    .frase p, .frase b {
        font-size: 2vw;
    }

    .encabezado-izquierda {
        display: flex;
        align-items: center;
    }

    .navegacion-fija {
        gap: 10px;
    }

    .contLocal p,
    .ciudad,
    .direccion {
        font-size: 4vw;
    }

    .tituloLocales {
        font-size: 3vw;
    }

    #toggle-menu:checked ~ .navegacion-extra2 {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 40%;
        height: 100vh;
        padding: 10px 0;
        z-index: 10;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        background-color: #571b02;
    }

    .navegacion-extra2 a{
        font-family: poppins, sans-serif;
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin-left: 10%;
        margin-bottom: 5%;
        font-size: 4vw;
    }
}